
/* noto-sans-kr-300 - latin_korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/noto-sans-kr-v12-latin_korean-300.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
         url('/fonts/noto-sans-kr-v12-latin_korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/noto-sans-kr-v12-latin_korean-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/noto-sans-kr-v12-latin_korean-300.woff') format('woff'), /* Modern Browsers */
         url('/fonts/noto-sans-kr-v12-latin_korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/noto-sans-kr-v12-latin_korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
    unicode-range:U+0041-005A, U+0061-007A, U+AC00-U+D7A3;
  }
  
/* noto-sans-kr-regular - latin_korean */
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/noto-sans-kr-v12-latin_korean-regular.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
         url('/fonts/noto-sans-kr-v12-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/noto-sans-kr-v12-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/noto-sans-kr-v12-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/noto-sans-kr-v12-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/noto-sans-kr-v12-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
    unicode-range:U+0041-005A, U+0061-007A, U+AC00-U+D7A3;
  }
  /* noto-sans-kr-500 - latin_korean */
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/noto-sans-kr-v12-latin_korean-500.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
         url('/fonts/noto-sans-kr-v12-latin_korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/noto-sans-kr-v12-latin_korean-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/noto-sans-kr-v12-latin_korean-500.woff') format('woff'), /* Modern Browsers */
         url('/fonts/noto-sans-kr-v12-latin_korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/noto-sans-kr-v12-latin_korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
    unicode-range:U+0041-005A, U+0061-007A, U+AC00-U+D7A3;
  }
  /* noto-sans-kr-700 - latin_korean */
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/noto-sans-kr-v12-latin_korean-700.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
         url('/fonts/noto-sans-kr-v12-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/noto-sans-kr-v12-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/noto-sans-kr-v12-latin_korean-700.woff') format('woff'), /* Modern Browsers */
         url('/fonts/noto-sans-kr-v12-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/noto-sans-kr-v12-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
    unicode-range:U+0041-005A, U+0061-007A, U+AC00-U+D7A3;
  }
  /* noto-sans-kr-900 - latin_korean */
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/noto-sans-kr-v12-latin_korean-900.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Black'), local('NotoSansKR-Black'),
         url('/fonts/noto-sans-kr-v12-latin_korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/noto-sans-kr-v12-latin_korean-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/noto-sans-kr-v12-latin_korean-900.woff') format('woff'), /* Modern Browsers */
         url('/fonts/noto-sans-kr-v12-latin_korean-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/noto-sans-kr-v12-latin_korean-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
    unicode-range:U+0041-005A, U+0061-007A, U+AC00-U+D7A3;
  }

  /* open-sans-300 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans Num';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/open-sans-v17-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Light'), local('OpenSans-Light'),
         url('/fonts/open-sans-v17-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/open-sans-v17-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/open-sans-v17-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
         url('/fonts/open-sans-v17-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/open-sans-v17-latin_cyrillic-300.svg#OpenSans') format('svg'); /* Legacy iOS */
    unicode-range: U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
  }
  /* open-sans-regular - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans Num';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/open-sans-v17-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('/fonts/open-sans-v17-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/open-sans-v17-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/open-sans-v17-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/open-sans-v17-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/open-sans-v17-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
    unicode-range: U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
  }
  /* open-sans-600 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans Num';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/open-sans-v17-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
         url('/fonts/open-sans-v17-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/open-sans-v17-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/open-sans-v17-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
         url('/fonts/open-sans-v17-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/open-sans-v17-latin_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
    unicode-range: U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
  }
  /* open-sans-300 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/open-sans-v17-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Light'), local('OpenSans-Light'),
         url('/fonts/open-sans-v17-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/open-sans-v17-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/open-sans-v17-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
         url('/fonts/open-sans-v17-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/open-sans-v17-latin_cyrillic-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-regular - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/open-sans-v17-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('/fonts/open-sans-v17-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/open-sans-v17-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/open-sans-v17-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/open-sans-v17-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/open-sans-v17-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-600 - latin_cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/open-sans-v17-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
         url('/fonts/open-sans-v17-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/open-sans-v17-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/open-sans-v17-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
         url('/fonts/open-sans-v17-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/open-sans-v17-latin_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

html {
    font-size: 15px;
}

@media (max-width: 640px) {
    html {
        font-size: 14px;
    }
}

#app {
  font-family: 'Open Sans Num', 'Noto Sans KR', 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-weight: 400;
  color: $gray7;
}

body, button {
    font-family: 'Open Sans Num', 'Noto Sans KR', 'Open Sans';
    word-break: keep-all;
    line-height: 1.6;
    color: $gray7;
    font-weight: 400;
}

@media (max-width: 768px) {
    .header-logo {
        max-width: 90px;
        min-width: 90px;
    }
}
.header-logo{
    width: 110px;
    // min-width: 120px;
    align-self: right;
}

a {
    color: $gray5;
}
a:hover {
    color: $gray6;
    text-decoration: none;
}

p {
    margin-bottom: 0.7rem;
    word-break: normal;
    font-size: 0.99rem;
    font-weight: 300;
    font-family: 'Noto Sans Kr';
    // text-align:justify;
}
p.word-break, .word-break {
    word-break: keep-all;
}
td.word-break, .no-word-break{
    word-break: normal;
}

.eng-font-scale {
    font-size: 93%;
    line-height: 1.45;
}
.eng-font-scale  p{
    font-size: 0.93rem;
}

// .eng-font-scale h1{
//     font-size: calc(2.3rem * 0.95);
// }
// .eng-font-scale h2{
//     font-size: calc(2rem * 0.95);
// }
// .eng-font-scale h3{
//     font-size: calc(1.75rem * 0.95);
// }
// .eng-font-scale h4{
//     font-size: calc(1.5rem * 0.95);
// }
// .eng-font-scale h5{
//     font-size: calc(1.25rem * 0.95);
// }
// .eng-font-scale h6 {
//     font-size: calc(1.15rem * 0.95);
// }
.eng-font-scale .h7 {
    font-size: calc(1.07rem * 0.95);
}
.eng-font-scale h1, h2, h3, h4, h5, h6, .h7 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.4;
} 

sub{
    bottom: -0.15em;
}
sup{
    top: -0.25em;
}

h1{
    font-size: 2.3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1.25rem;
}
h6 {
    font-size: 1.15rem;
}
.h7 {
    font-size: 1.07rem;
}
h1, h2, h3, h4, h5, h6, .h7 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.6;
}


hr {
    border: 0;
    margin: 0;
    padding-bottom: 3rem;
}
.space-p75 {
    padding-top: 2.5rem;
    padding-bottom: 7.5rem;
}
.space-p25 {
    padding-bottom: 2.5rem;
}
.space-lined {
    border-bottom: 0.5px solid $gray5;
    margin-bottom: 1.5rem;
}
.font-noto{
    font-family: 'Noto Sans Kr';
}
.font-open{
    font-family: 'Open Sans';
}

.line-height-15{
    line-height: 1.5;
}
.line-height-low{
    line-height: 1.4;
}
.line-height-min{
    line-height: 1.2;
}

.h-80 {
    height: 80%;
}

.cursor{
    cursor: pointer;
}

.indent-sm{
    text-indent: -0.65rem;
    margin-left: 0.65rem;
}
.indent{
    text-indent: -1.15rem;
    margin-left: 1.15rem;
}


/*font-size*/
.f-330{
    font-size: 3.3rem;
}
.f-280{
    font-size: 2.8rem;
}
.f-230{
    font-size: 2.3rem;
}
.f-190{
    font-size: 1.9rem;
}
.f-170{
    font-size: 1.7rem;
}
.f-160{
    font-size: 1.6rem;
}
.f-140{
    font-size: 1.4rem;
}
.f-130{
    font-size: 1.3rem;
}
.f-120{
    font-size: 1.2rem;
}
.f-110{
    font-size: 1.1rem;
}
.f-105{
    font-size: 1.05rem;
}
.f-100{
    font-size: 1.0rem;
}
.f-95{
    font-size: 0.95rem;
}
.f-90{
    font-size: 0.9rem;
}
.f-87{
    font-size: 0.87rem;
}
.f-85{
    font-size: 0.85rem;
}
.f-80{
    font-size: 0.8rem;
}
.f-75{
    font-size: 0.75rem;
}
.f-70{
    font-size: 0.7rem;
}
.f-60{
    font-size: 0.6rem;
}

/*font-weight*/

.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}

/*text colors*/
.blue9 {
    color: $blue9;
}
.blue8 {
    color: $blue8;
}
.blue7{
    color: $blue7;
}
.blue6{
    color: $blue6;
}
.blue5{
    color: $blue5;
}
.blue4{
    color: $blue4;
}
.blue3{
    color: $blue3;
}
.blue2{
    color: $blue2;
}
.blue1{
    color: $blue1;
}
.coway-blue{
    color: $coway-blue;
}


.gray8{
    color: $gray8;
}
.gray7{
    color: $gray7;
}
.gray67{
    color: $gray67;
}
.gray65{
    color: $gray65
}
.gray63{
    color: $gray63
}
.gray6{
    color: $gray6;
}
.gray55{
    color: $gray55;
}
.gray5{
    color: $gray5;
}
.gray4{
    color: $gray4;
}
.gray3{
    color: $gray3;
}
.gray2{
    color: $gray2;
}
.gray1{
    color: $gray1;
}

.blue-gray1{
    color: $blue-gray1;
}

.red {
    color: $red;
}

.green7{
    color: $green7;
}
.green6{
    color: $green6;
}
.green5{
    color: $green5;
}

.gold8{
    color: $gold8;
}
.gold7{
    color: $gold7;
}
.gold6{
    color: $gold6;
}

.parang8{
    color: $parang8;
}
.parang7{
    color: $parang7;
}
.parang6{
    color: $parang6;
}

/* background-color */
.bg-blue8{
    background-color: $blue8;
}
.bg-blue7{
    background-color: $blue7;
}
.bg-blue6{
    background-color: $blue6;
}
.bg-blue5{
    background-color: $blue5;
}
.bg-blue4{
    background-color: $blue4;
}
.bg-blue3{
    background-color: $blue3;
}
.bg-blue2{
    background-color: $blue2;
}
.bg-blue15{
    background-color: $blue15;
}
.bg-blue1{
    background-color: rgba(231, 244, 250, 0.9);
}
.bg-coway-blue{
    background-color: $coway-blue;
}

.bg-gold8{
    background-color: $gold8;
}
.bg-gold7{
    background-color: $gold7;
}
.bg-gold6{
    background-color: $gold6;
}

.bg-green7{
    background-color: $green7;
}
.bg-green6{
    background-color: $green6;
}
.bg-green5{
    background-color: $green5;
}

.bg-parang8{
    background-color: $parang8;
}
.bg-parang7{
    background-color: $parang7;
}
.bg-parang6{
    background-color: $parang6;
}

.bg-gray8{
    background-color: $gray8;
}
.bg-gray7{
    background-color: $gray7;
}
.bg-gray6{
    background-color: $gray6;
}
.bg-gray5{
    background-color: $gray5;
}
.bg-gray4{
    background-color: $gray4;
}
.bg-gray3{
    background-color: $gray3;
}
.bg-gray2{
    background-color: $gray2;
}
.bg-gray1{
    background-color: $gray1;
}

.bg-blue-gray1{
    background-color: $blue-gray1;
}

.bg-transparent-dark {
    background-color: rgba(0,0,0,0.3);
}
.bg-transparent-gray-50 {
    background-color: rgba(220,220,220,0.9);
}
.bg-transparent-light {
    background-color: rgba(255,255,255,0.3);
}


/* table */
table, .table {
    word-break: keep-all;
    color: $gray7;
}

.table td, td {
    padding: 0.2rem 0.7rem;
}

/* basic buttons */

.btn-dark {
    background-color: $gray7;
    color: $gray5;
}
.btn-dark:hover, .btn-dark:focus{
    background-color: $gray5;
    color: $gray7;
}

.btn-dark-border {
    background-color: rgba(0,0,0,0);
    color: $gray7;
    border: 1px solid $gray7;
}
.btn-dark-border:hover {
    background-color: $gray6;
    color: $gray2;
}

.btn-gold {
    background-color: $gold6;
    color: $gray1;
}
.btn-gold:hover {
    background-color:  $gold7;
    color: white;
}
.btn-parang {
    background-color: $parang6;
    color: $gray1;
}
.btn-parang:hover {
    background-color:  $parang7;
    color: white;
}

.btn-blue {
    background-color: $blue5;
    color: $gray1;
}
.btn-blue:hover {
    background-color:  $blue4;
    color: white;
}
.btn-blue-border {
    background-color: rgba(0,0,0,0);
    color: $blue5;
    border: 1px solid $blue5;
}
.btn-blue-border:hover, .btn-blue-border:focus {
    background-color:  $blue5;
    color: white;
    border: 1px solid $blue5;
}

.btn-icon {
    background-color: rgba(0,0,0,0);
    color: $gray7;
}
.btn-icon:hover {
    background-color: rgba(0,0,0,0);
    color: $gray6;
}
.btn-icon-rev {
    background-color: rgba(0,0,0,0);
    color: $gray5;
}
.btn-icon-rev:hover {
    background-color: rgba(0,0,0,0);
    color: $gray8;
}

.btn-icon-gray {
    background-color: rgba(0,0,0,0);
    color:#808083;
}
.btn-icon-gray:hover, .btn-icon-gray:focus {
    background-color: rgba(0,0,0,0);
    color: $gray4;
}
.btn-white:focus {
    outline: none;
    box-shadow: none;
}

.btn-icon-append {
    padding: 0 0.3rem;
    background-color: white;
    color: $gray6;
    border-left: 0;
    border-color: #ced4da;
}
.btn-icon-append:hover, .btn-icon-append:focus {
    color: $blue5;
}

.badge-btn {
    padding: 0.25em 0.4em;
    font-size: 85%;
    font-weight: 400;
    color: white;
    background-color: $gray6;
}
.badge-btn:hover {
    cursor: pointer;
    background-color: $gray5;
}

/* button shape */

.circle{
    border-radius: 2em;
}


/* border */

.border-top-bottom-dark {
    border-top: 1px solid $gray7;
    border-bottom: 1px solid $gray7;
}
.border-top-dark {
    border-top: 1px solid $gray7;
}
.border-bottom-dark {
    border-bottom: 1px solid $gray7;
}
.border-right-dark {
    border-right: 1px solid $gray7;
}
.border-left-dark {
    border-left: 1px solid $gray7;
}

.border-top-gray {
    border-top: 1px solid $gray4;
}
.border-bottom-gray {
    border-bottom: 1px solid $gray4;
}
.border-left-gray {
    border-left: 1px solid $gray4;
}
.border-right-gray {
    border-right: 1px solid $gray4;
}
.border-right-gray-bold {
    border-right: 1.8px solid $gray3;
}

.border-bottom-gray-bold {
    border-bottom: 1.5px solid $gray4;
}

.border-dotted {
    border: 1px dashed $gray4;
}
.border-bottom-dotted {
    border-bottom: 1px dashed $gray4;
}
.border-left-dotted{
    border-left: 1.3px dotted $gray3 ;
}
.border-bottom-blue7 {
    border-bottom: 1px solid $blue7;
}
.border-blue {
    border: 1px solid $blue5;
}
.border-parang {
    border: 1px solid $parang6;
}
.border-bottom-parang {
    border-bottom: 1px solid $parang6;
}
.border-gold {
    border: 1px solid $gold6;
}




.parang-text {
    background-color: rgba(0,0,0,0);
    color: $parang6;
    text-decoration: underline;
    text-underline-position: under;
}
.parang-text:hover {
    background-color:  rgba(0,0,0,0);
    color: $parang7;
    text-decoration: underline;
    text-underline-position: under;
}

/*card*/
.card-body, .card-text, .card-title, .card-subtitle {
    padding: 0.6rem 1.25rem;
}

