

/*modify-modal*/
@media (max-width: 768px) {
    #modify-modal-top > .modal-dialog{
      position: absolute !important;
      margin: 0.5rem !important;
      top: 40px;
      pointer-events: none;
      right: 1rem !important;
      max-height: 90vh;
    }
  }
  
  @media (min-width: 768px) {
  
    #modify-modal > .modal-dialog{
        min-width: 500px;
        position: absolute !important;
        margin: 0.5rem !important;
        /* top: 10px; */
        bottom: 10px !important;
        pointer-events: none;
        right: 10px !important;
    }
  
    #modify-wide-modal > .modal-dialog{
        min-width: 650px;
        position: absolute !important;
        margin: 0.5rem !important;
        bottom: 10px !important;
        pointer-events: none;
        right: 10px !important
    }
  
    #modify-modal-top > .modal-dialog{
      min-width: 45vw;
      position: absolute !important;
      margin: 0.5rem !important;
      top: 40px;
      pointer-events: none;
      right: 1rem !important;
      max-height: 90vh;
    }
  
  }
  
  @media (min-width: 992px) {
  
    #modify-modal > .modal-dialog{
        min-width: 600px;
        position: absolute !important;
        margin: 0.5rem !important;
        /* top: 10px; */
        bottom: 10px !important;
        pointer-events: none;
        right: 10px !important;
    }
  
    #modify-wide-modal > .modal-dialog{
      min-width: 800px;
      position: absolute !important;
      margin: 0.5rem !important;
      bottom: 10px !important;
      pointer-events: none;
      right: 10px !important
    }
  
    #modify-modal-top > .modal-dialog{
      min-width: 42vw;
      position: absolute !important;
      margin: 0.5rem !important;
      top: 40px;
      pointer-events: none;
      right: 1rem !important;
    }
    
  }
  
  @media (min-width: 1200px) {
  
    #modify-modal > .modal-dialog{
        min-width: 800px;
        position: absolute !important;
        margin: 0.5rem !important;
        /* top: 10px; */
        bottom: 10px !important;
        pointer-events: none;
        right: 10px !important;
    }
  
    #modify-wide-modal > .modal-dialog{
      min-width: 950px;
      position: absolute !important;
      margin: 0.5rem !important;
      bottom: 10px !important;
      pointer-events: none;
      right: 10px !important
    }
  
    #modify-modal-top > .modal-dialog{
      max-width: 38vw;
      position: absolute !important;
      margin: 0.5rem !important;
      top: 40px;
      pointer-events: none;
      right: 1rem !important;
    }
  
  }
  
  #modify-wide-modal___BV_modal_body_.modal-body{
    padding: 0;
  }
  
  #modify-wide-modal___BV_modal_content_.modal-content{
    background-color: transparent;
    border: none;
  }
  
  #modify-modal___BV_modal_backdrop_.modal-backdrop {
      opacity: 0.2!important;
  }
  
  #modify-wide-modal___BV_modal_backdrop_.modal-backdrop {
    opacity: 0.2!important;
  }
  
  /* padding extra */
  @media (max-width: 768px) {
    .px-6 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  @media (min-width: 768px)  {
    .px-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  @media (min-width: 992px) {
    .px-6 {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  @media (min-width: 1200px)  {
    .px-6 {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  
  
  /*categories*/
  .edit-mode-category{
    margin-bottom: 0;
    cursor: pointer;
  }
  
  .edit-mode-category-selected{
    color: var(--dpink);
  
    border-bottom-style: solid;
    border-bottom-color: var(--dpink);
    border-bottom-width: 3px;
  }
  
  /*matrix-list-items*/
  .matrix-list-item{
    border-style: solid;
    border-color: var(--gray-300);
    border-width: thin;
    border-radius: 0.2em;  
  
    background-color: var(--gray-100);
    cursor: pointer;
  }
  
  .matrix-list-item-header{
    background-color: var(--gray-300);
  }
  
  /*edit-button*/
  
  .edit-button{
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    border-color: transparent;
    background-color: transparent;
    color: var(--gray-500);
    cursor: pointer;
  }
  
  .edit-button:hover{
    border-color: var(--gray-500);
    background-color: var(--gray-500);
    color: var(--gray-900);
  }
  
  .edit-button:focus{
    border-color: transparent;
    background-color: transparent;
    color: var(--gray-500);
    box-shadow: none;
  }
  
  .small-arrow-up{
    font-size: 1.1em;
    margin-bottom: -0.3rem;
    cursor: pointer;
    color: var(--gray-400);
  }
  
  .small-arrow-up:hover{
    color: var(--gray-800);
  }
  
  .small-arrow-down{
    font-size: 1.1em;
    margin-top: -0.3rem;
    cursor: pointer;
    color: var(--gray-400)
  }
  
  .small-arrow-down:hover{
    color: var(--gray-800);
  }
  
  .borderless-button{
    font-size: 1.1em;
    cursor: pointer;
    color: var(--gray-400);
    border: none;
    background-color: transparent;
  }
  
  .borderless-button:hover{
    cursor: pointer;
    color: var(--gray-800);
  }
  
  .borderless-button:active{
    box-shadow: none;
  }
  
  .btn-custom4 {
    border-color: var(--dpink);
    color: var(--dpink);
    border-width: thin;
    border-radius: 0.2rem;
    font-size: 0.9em;
    font-weight: 400;
  }
  
  .btn-custom4:hover {
    color: white;
    background-color: var(--dpink);
    border-color: var(--gray-100);
  }
  
  .performance-table{
    border: none;
  }
  
  .performance-table > td {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
  
  .performance-table > input {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
  
  .performance-table .form-control {
    height: 2.0em;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
  
  }
  
  .performance-table .form-control:focus {
  
    box-shadow:none;
    border-bottom-width: 0.1em;
    border-bottom-color: var(--gray-600)
    
  }
  
  .add-box{
    border-style: dashed;
    border-width: 0.1em;
    border-color: var(--gray-400);
    cursor: pointer;
  }
  