.letter-narrow {
    letter-spacing: -0.26px;
}
.letter-narrow-lg {
    letter-spacing: -0.05rem;
}
.text-underline{
    text-decoration: underline;
    text-underline-position: under;
}
.hover-underline:hover{
    text-decoration: underline;
    text-underline-position: under;
}
.side-nav {
    padding: 1.5em 1.25em 1.25em;
}

.link-img {
    transition: all ease-out 0.3s;
}
.link-img:hover{
    transform: scale(1.05)
}

@media (max-width: 768px) {
    .page-top-img, .material-page-top-img {
        height: 100vh;
        overflow-x: hidden;
    }
}
.page-top-img, .material-page-top-img{
    position: absolute;
    z-index: -1;
    top: 0;
}
.lazy-loader{
    // width: 100%;
    // height: 100%;
    // background-color: #fff;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

@-moz-keyframes fadein { from { opacity:0;} to { opacity:1;}}
@-webkit-keyframes fadein { from { opacity:0;} to { opacity:1;}}
@-ms-keyframes fadein { from { opacity:0;} to { opacity:1;}}
@-o-keyframes fadein { from { opacity:0;} to { opacity:1;}}
@keyframes fadein { from { opacity:0;} to { opacity:1;}}


.menu-fadeout {
    animation: fadeOut 1s;
    -moz-animation: fadeOut 1s; /* Firefox */
    -webkit-animation: fadeOut 1s; /* Safari and Chrome */
    -o-animation: fadeOut 1s; /* Opera */
}
@-webkit-keyframes fadeOut { from { opacity: 1;} to { opacity: 0;} }
@-moz-keyframes fadeOut { from { opacity: 1;} to { opacity: 0;} }
@-ms-keyframes fadeOut { from { opacity: 1;} to { opacity: 0;} }
@-o-keyframes fadeOut { from { opacity: 1;} to { opacity: 0;} }
@keyframes fadeOut { from { opacity: 1;} to { opacity: 0;} }


.temp-icon1{
    height: 180px;
    width: 180px;
}
.temp-icon2 {
    height: 66px;
    width: 100%;
}
.temp-icon3 {
    height: 140px;
    width: 140px;
}
.temp-icon4 {
    height: 44px;
    width: 100%;
}
.temp-icon5 {
    height: 84px;
    width: 100%;
}
.temp-icon6 {
    height: 60px;
    width: 100%;
}
.temp-icon7 {
    height: 80px;
    width: 100%;
}
.temp-icon8 {
    height: 48px;
    width: 100%;
}
.temp-icon9 {
    height: 25px;
    width: 100%;
}
.temp-img1{
    height: 270px;
    width: 100%;
}

@media (max-width: 768px) {
    .force-deflex{
        display: inline-block;
    }
}

.vertical-line-1 {
    height: 100%;
    width: 1px;
    background-color: $gray7; 
    top:0;
    left:0;
}
.vertical-line-dotted {
    border-left: 1.5px dotted $gray4;
    height: 82%;
    top: 18%;
    left:0;
}
.vertical-line-dotted-86{
    border-left: 1.5px dotted $gray4;
    height: 86%;
    top: 14%;
    left:0;
}
.vertical-line-dotted-100{
    border-left: 1.5px dotted $gray4;
    height: 100%;
    top: 0%;
    left:0;
}

.horizontal-line-1 {
    height: 0.75px;
    width: 100%;
    background-color: $gray7; 
}
.horizontal-line-2 {
    height: 1.5px;
    width: 100%;
    background-color: $gray4; 
    top: 42%;
}
.blue-line {
    background-color: $blue6!important; 
}
.parang-line {
    background-color: $parang7!important; 
}
.green-line {
    background-color: $green6!important; 
}
.gold-line {
    background-color: $gold7!important; 
}

.parang8-box {
    border: 1px solid $parang8;
    -webkit-box-shadow: 6px 4px 0px 0px $parang8;
    -moz-box-shadow: 6px 4px 0px 0px $parang8;
    box-shadow: 6px 4px 0px 0px $parang8;
}

.blue7-box {
    border: 1px solid $blue7;
    -webkit-box-shadow: 6px 4px 0px 0px $blue7;
    -moz-box-shadow: 6px 4px 0px 0px $blue7;
    box-shadow: 6px 4px 0px 0px $blue7;
}
  
/* padding and margin extra */

.mb-45 {
    margin-bottom: 2rem!important;
}
.mt-m-3 {
    margin-top: -0.75rem;
}
.mt-m-2 {
    margin-top: -0.5rem;
}
.mb-m-2 {
    margin-bottom: -0.5rem;
}


@media (max-width: 768px) {
    .px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
@media (min-width: 768px)  {
    .px-6 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media (min-width: 992px) {
    .px-6 {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media (min-width: 1200px){
    .px-6 {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}


/* table custom */
.num-table > table, 
.txt-table > table {
    border-collapse: separate;
    border-spacing: 7px 0;
    margin-left: -4px;
    font-family: 'Noto Sans Kr';
}
.num-table > table > thead > tr > td,
.num-table > table > tbody > tr > td {
    padding: 0.2rem 0;
    text-align: right;
}
.txt-table > table > thead > tr > td,
.txt-table > table > tbody > tr > td {
    padding: 0.2rem 0;
    text-align: left;
}
.sep-table > table > tbody > tr > td {
    padding: 0.2rem 0.25rem;
    text-align: left;
}

.num-table > table > tbody > tr > td, 
.txt-table > table > tbody > tr > td,
.sep-table > table > tbody > tr > td {
    border-top: 0;
    border-bottom: 0.5px solid $gray3;
    font-weight: 300;
}
.num-table > table > thead > tr > td, 
.txt-table > table > thead > tr > td {
    border-top: 0;
    border-bottom: 1.2px solid $blue4;
    font-weight: 300;
}

.env-table > table > thead > tr > td {
    border-bottom: 1.2px solid $green5!important;
}
.social-table > table > thead > tr > td{
    border-bottom: 1.2px solid $gold6;
}
.sustainability-table > table > thead > tr > td{
    border-bottom: 1.2px solid $parang6;
}
.case-table > table > thead > tr > td{
    border-bottom: 0;
}
.case-table > table > tbody > tr > td{
    font-size: 0.9rem;
    padding: 0.3rem 0;
}
.sep-table > table {
    border-collapse: separate;
    border-spacing: 10px 0;
    margin-left: -8px;
    // width: 101%;
}

// .sep-table-body > table > tbody > tr > td{
//     vertical-align: middle;
// }

.custom-ul-li ul,
.custom-ul,
.material-ul{
    padding-left: 0.95rem;
    margin: 0;
    list-style: none;
}
.custom-ul-li ul li,
.custom-ul li {
    margin-bottom: 0.3rem;
    font-family: 'Noto Sans Kr'
}
.custom-ul-li ul li:before,
.custom-ul li:before{
    content: "•";
    font-size: 0.6rem;
    padding-right: 4px;
    margin-left: -9px;
    color: $gray7;
}
.material-ul li:before{
    content: "•";
    font-size: 0.6rem;
    padding-right: 5px;
    margin-left: -9px;
    color: $parang7;
}
.table-li ul li {
    margin-bottom:0!important;
}


.footnote-ol{
    padding-left: 1rem;
    margin: 0;
    counter-reset: list;
    font-family: 'Noto Sans Kr';
}
.footnote-ol li {
    margin-bottom: 0.35rem;
    color: #656464;
    list-style: none;
    position: relative;
}
.footnote-ol li:before {
    counter-increment: list;
    content: counter(list, decimal) ") ";
    position: absolute;
    left: -0.9rem;
}








/* tooltip */
.tooltip, .tooltip-inner, .b-tooltip {
    font-size: 0.8rem;
    z-index: 100;
} 
.b-tooltip-blue > .tooltip-inner {
    background-color: $blue7;
} 
.b-tooltip-blue > .tooltip .bs-tooltip-auto[x-placement^=top] .arrow::before, .b-tooltip-blue.bs-tooltip-top .arrow::before {
    border-top-color: $blue7!important;
}
.b-tooltip-blue > .tooltip .bs-tooltip-auto[x-placement^=bottom] .arrow::before, .b-tooltip-blue.bs-tooltip-bottom .arrow::before {
    border-bottom-color: $blue7!important;
}


/*modal*/
.modal-content {
    border: 0;
    z-index: 200;
}
.modal-body, .modal-footer {
    font-family: 'Noto Sans KR';
    padding: 1rem 2rem;
    background-color: $gray2;
}  
.modal-header {
    font-family: 'Noto Sans KR';
    padding: 0.8rem 1.6rem;
    background-color: $gray6;
    color: $gray8;
    border: 0;
}  
.modal-title {
    font-size: 1.1rem;
    font-weight: 500;
}
.modal-table {
    overflow: auto;
}

/* modal 변형, 활용요소 */

#sitemap-modal > .modal-dialog{
    min-width: 80vw;

}
#sitemap-modal___BV_modal_body_.modal-body{
    padding: 0;
}
#sitemap-modal___BV_modal_footer_.modal-footer{
    display: none;
}

#finder-modal > .modal-dialog{
    min-width: 60vw;
}
#finder-modal___BV_modal_body_.modal-body{
    padding: 0;
}
@media (max-width: 768px) {
    #finder-modal > .modal-dialog{
        min-width: 90vw;
    }
    #finder-modal___BV_modal_body_.modal-body{
        padding: 0;
    }
}
@media (min-width: 768px) {
    #finder-modal > .modal-dialog{
        min-width: 80vw;
    }
    #finder-modal___BV_modal_body_.modal-body{
        padding: 0;
    }
}
@media (min-width: 992px) {
    #finder-modal > .modal-dialog{
        min-width: 70vw;
    }
    #finder-modal___BV_modal_body_.modal-body{
        padding: 0;
    }
}
@media (min-width: 1200px){
    #finder-modal > .modal-dialog{
        min-width: 60vw;
    }
    #finder-modal___BV_modal_body_.modal-body{
        padding: 0;
    }
}

// .close-btn{
//     position: absolute;
//     top: 0.3rem;
//     right: 1.75rem;
// }
.close-btn::before{
    content: "×";
}

// @media (max-width: 768px) {
//     #modify-modal-top > .modal-dialog{
//       position: absolute !important;
//       margin: 0.5rem !important;
//       top: 40px;
//       pointer-events: none;
//       right: 1rem !important;
//       max-height: 90vh;
//     }
// }
  
// @media (min-width: 768px) {
//     #modify-modal > .modal-dialog{
//         min-width: 500px;
//         position: absolute !important;
//         margin: 0.5rem !important;
//         bottom: 10px !important;
//         pointer-events: none;
//         right: 10px !important;
//     }

//     #modify-wide-modal > .modal-dialog{
//         min-width: 650px;
//         position: absolute !important;
//         margin: 0.5rem !important;
//         bottom: 10px !important;
//         pointer-events: none;
//         right: 10px !important
//     }

//     #modify-modal-top > .modal-dialog{
//         min-width: 45vw;
//         position: absolute !important;
//         margin: 0.5rem !important;
//         top: 40px;
//         pointer-events: none;
//         right: 1rem !important;
//         max-height: 90vh;
//     }
// }

// @media (min-width: 992px) {
//     #modify-modal > .modal-dialog{
//         min-width: 600px;
//         position: absolute !important;
//         margin: 0.5rem !important;
//         bottom: 10px !important;
//         pointer-events: none;
//         right: 10px !important;
//     }

//     #modify-wide-modal > .modal-dialog{
//         min-width: 800px;
//         position: absolute !important;
//         margin: 0.5rem !important;
//         bottom: 10px !important;
//         pointer-events: none;
//         right: 10px !important
//     }

//     #modify-modal-top > .modal-dialog{
//         min-width: 42vw;
//         position: absolute !important;
//         margin: 0.5rem !important;
//         top: 40px;
//         pointer-events: none;
//         right: 1rem !important;
//     }
// }

// @media (min-width: 1200px) {
//     #modify-modal > .modal-dialog{
//         min-width: 800px;
//         position: absolute !important;
//         margin: 0.5rem !important;
//         bottom: 10px !important;
//         pointer-events: none;
//         right: 10px !important;
//     }

//     #modify-wide-modal > .modal-dialog{
//         min-width: 950px;
//         position: absolute !important;
//         margin: 0.5rem !important;
//         bottom: 10px !important;
//         pointer-events: none;
//         right: 10px !important
//     }

//     #modify-modal-top > .modal-dialog{
//         max-width: 38vw;
//         position: absolute !important;
//         margin: 0.5rem !important;
//         top: 40px;
//         pointer-events: none;
//         right: 1rem !important;
//     }
// }

// #modify-wide-modal___BV_modal_body_.modal-body{
// padding: 0;
// }

// #modify-wide-modal___BV_modal_content_.modal-content{
// background-color: transparent;
// border: none;
// }

// #modify-modal___BV_modal_backdrop_.modal-backdrop {
//     opacity: 0.2!important;
// }

// #modify-wide-modal___BV_modal_backdrop_.modal-backdrop {
// opacity: 0.2!important;
// }

  /*categories*/
  .edit-mode-category{
    margin-bottom: 0;
    cursor: pointer;
  }
  
  .edit-mode-category-selected{
    color: $dpink;
  
    border-bottom-style: solid;
    border-bottom-color: $dpink;
    border-bottom-width: 3px;
  }
  
  /*matrix-list-items*/
  /* .matrix-list-item{
    border-style: solid;
    border-color: var(--gray-300);
    border-width: thin;
    border-radius: 0.2em;  
  
    background-color: var(--gray-100);
    cursor: pointer;
  }
  
  .matrix-list-item-header{
    background-color: var(--gray-300);
  }

  .performance-table{
    border: none;
  }
  
  .performance-table > td {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
  
  .performance-table > input {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
  
  .performance-table .form-control {
    height: 2.0em;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
  
  }
  
  .performance-table .form-control:focus {
  
    box-shadow:none;
    border-bottom-width: 0.1em;
    border-bottom-color: var(--gray-600)
    
  }
  
  .add-box{
    border-style: dashed;
    border-width: 0.1em;
    border-color: var(--gray-400);
    cursor: pointer;
  } */
  
  /*transition*/
  
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}
