.letter-narrow {
    letter-spacing: -0.26px;
}
.letter-narrow-lg {
    letter-spacing: -0.05rem;
}
.text-underline{
    text-decoration: underline;
    text-underline-position: under;
}
.hover-underline:hover{
    text-decoration: underline;
    text-underline-position: under;
}
.side-nav {
    padding: 1.25em 1.25em 1.25em;
}

.link-img {
    transition: all ease-out 0.3s;
}
.link-img:hover{
    transform: scale(1.05)
}

.bg-white-cover {
    height: calc(100% - 725px);
    top: 725px; 
    z-index:0;
}
.bg-white-cover-m1{
    height: calc(100% - 1040px);
    top: 1040px; 
    z-index:0;
}
.bg-white-cover-m2{
    height: calc(100% - 1084px);
    top: 1084px; 
    z-index:0;
}
.bg-white-cover-m3{
    height: calc(100% - 1078px);
    top: 1078px; 
    z-index:0;
}
.bg-white-cover-news{
    height: calc(100% - 60vh);
    top: 60vh; 
    z-index:0;
}
@media (max-width: 540px) {
    .bg-white-cover, .bg-white-cover-m1, .bg-white-cover-m2, .bg-white-cover-m3{
        height:calc(100% - 100vh);
        top: 100vh; 
        z-index:0;
    }
}

.page-top-bg-news{
    background-image: url( "/images/bg1.png" );
}
.page-top-bg-env{
    background-image: url( "/images/environment.jpg" );
}
.page-top-bg-sus{
    background-image: url( "/images/847.jpg" );
    background-position-x: center;
    background-position-y: 50%;
}
.page-top-bg-so{
    background-image: url( "/images/society.jpg" );
}
.page-top-bg-m1{
    background-image: url( "/images/material_topics_1.jpg" );
} 
.page-top-bg-m2{
    background-image: url( "/images/material_topics_2.jpg" );
}
.page-top-bg-m3 {
    background-image: url( "/images/material_topics_3.jpg" );
}
.page-top-bg-m1, .page-top-bg-m2, .page-top-bg-m3,
.page-top-bg-env, .page-top-bg-sus, .page-top-bg-so, .page-top-bg-news
 {
    background-attachment:  fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    top: 0;
}


.lazy-loader{
    // width: 100%;
    // height: 100%;
    // background-color: #fff;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

@-moz-keyframes fadein { from { opacity:0;} to { opacity:1;}}
@-webkit-keyframes fadein { from { opacity:0;} to { opacity:1;}}
@-ms-keyframes fadein { from { opacity:0;} to { opacity:1;}}
@-o-keyframes fadein { from { opacity:0;} to { opacity:1;}}
@keyframes fadein { from { opacity:0;} to { opacity:1;}}


.menu-fadeout {
    animation: fadeOut 1s;
    -moz-animation: fadeOut 1s; /* Firefox */
    -webkit-animation: fadeOut 1s; /* Safari and Chrome */
    -o-animation: fadeOut 1s; /* Opera */
}
@-webkit-keyframes fadeOut { from { opacity: 1;} to { opacity: 0;} }
@-moz-keyframes fadeOut { from { opacity: 1;} to { opacity: 0;} }
@-ms-keyframes fadeOut { from { opacity: 1;} to { opacity: 0;} }
@-o-keyframes fadeOut { from { opacity: 1;} to { opacity: 0;} }
@keyframes fadeOut { from { opacity: 1;} to { opacity: 0;} }


.temp-icon1{
    height: 180px;
    width: 180px;
}
.temp-icon2 {
    height: 66px;
    width: 100%;
}
.temp-icon3 {
    height: 140px;
    width: 140px;
}
.temp-icon4 {
    height: 44px;
    width: 100%;
}
.temp-icon5 {
    height: 84px;
    width: 100%;
}
.temp-icon6 {
    height: 60px;
    width: 100%;
}
.temp-icon7 {
    height: 80px;
    width: 100%;
}
.temp-icon8 {
    height: 48px;
    width: 100%;
}
.temp-icon9 {
    height: 25px;
    width: 100%;
}
.temp-img1{
    height: 270px;
    width: 100%;
}

@media (max-width: 768px) {
    .force-deflex{
        display: inline-block;
    }
}

.vertical-line-1 {
    height: 100%;
    width: 1px;
    background-color: $gray7; 
    top:0;
    left:0;
}
.vertical-line-dotted {
    border-left: 1.5px dotted $gray4;
    height: 77%;
    top: 22%;
    left:0;
}
.vertical-line-dotted-86{
    border-left: 1.5px dotted $gray4;
    height: 86%;
    top: 14%;
    left:0;
}
.vertical-line-dotted-100{
    border-left: 1.5px dotted $gray4;
    height: 100%;
    top: 0%;
    left:0;
}

.horizontal-line-1 {
    height: 0.75px;
    width: 100%;
    background-color: $gray7; 
}
.horizontal-line-2 {
    height: 1.5px;
    width: 100%;
    background-color: $gray4; 
    top: 42%;
}

.blue-line {
    background-color: $blue6!important; 
}
.parang-line {
    background-color: $parang7!important; 
}
.green-line {
    background-color: $green6!important; 
}
.gold-line {
    background-color: $gold7!important; 
}

.parang8-box {
    border: 1px solid $parang8;
    -webkit-box-shadow: 6px 4px 0px 0px $parang8;
    -moz-box-shadow: 6px 4px 0px 0px $parang8;
    box-shadow: 6px 4px 0px 0px $parang8;
}

.blue7-box {
    border: 1px solid $blue7;
    -webkit-box-shadow: 6px 4px 0px 0px $blue7;
    -moz-box-shadow: 6px 4px 0px 0px $blue7;
    box-shadow: 6px 4px 0px 0px $blue7;
}
  
/* padding and margin extra */

.mb-45 {
    margin-bottom: 2rem!important;
}
.mt-m-3 {
    margin-top: -0.75rem;
}
.mt-m-2 {
    margin-top: -0.5rem;
}
.mb-m-2 {
    margin-bottom: -0.5rem;
}

@media (max-width: 768px) {
    .px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .m-r-5 {
        margin-right: -15%;
    }
    .m-r-6 {
        right: -15%;
    }
   
}
@media (min-width: 768px)  {
    .px-6 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .m-r-6 {
        right: -10%;
    }
}
@media (min-width: 992px) {
    .px-6 {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .m-r-6 {
        right: -5%;
    }
}
@media (min-width: 1200px){
    .px-6 {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .m-r-6 {
        right: -3%;
    }
}


/* table custom */
.num-table > table, 
.txt-table > table {
    border-collapse: separate;
    border-spacing: 7px 0.8px;
    margin-left: -4px;
    font-family: 'Noto Sans Kr';
}
.num-table > table > thead > tr > td,
.num-table > table > tbody > tr > td {
    padding: 0.2rem 0;
    text-align: right;
}
.txt-table > table > thead > tr > td,
.txt-table > table > tbody > tr > td {
    padding: 0.2rem 0;
    text-align: left;
}
.sep-table > table > tbody > tr > td {
    padding: 0.2rem 0.25rem;
    text-align: left;
}

.num-table > table > tbody > tr > td, 
.txt-table > table > tbody > tr > td,
.sep-table > table > tbody > tr > td {
    border-top: 0;
    border-bottom: 1px solid $gray3;
    font-weight: 300;
}
.num-table > table > thead > tr > td, 
.txt-table > table > thead > tr > td {
    border-top: 0;
    border-bottom: 1.7px solid $blue4;
    font-weight: 300;
}

.env-table > table > thead > tr > td {
    border-bottom: 1.7px solid $green5!important;
}
.social-table > table > thead > tr > td{
    border-bottom: 1.7px solid $gold6;
}
.sustainability-table > table > thead > tr > td{
    border-bottom: 1.7px solid $parang6;
}
.case-table > table > thead > tr > td{
    border-bottom: 0;
}
.case-table > table > tbody > tr > td{
    font-size: 0.9rem;
    padding: 0.3rem 0;
}
.sep-table > table {
    border-collapse: separate;
    border-spacing: 7px 1px;
    margin-left: -4px;
    font-family: 'Noto Sans Kr';
    // margin-right: 0;
    // width: 101%;
}

// .sep-table-body > table > tbody > tr > td{
//     vertical-align: middle;
// }

.custom-ul-li ul,
.custom-ul,
.material-ul{
    padding-left: 0.95rem;
    margin: 0;
    list-style: none;
}
.custom-ul-li ul li,
.custom-ul li {
    margin-bottom: 0.3rem;
    font-family: 'Noto Sans Kr'
}
.custom-ul-li ul li:before,
.custom-ul li:before{
    content: "•";
    font-size: 0.6rem;
    // padding-right: 6px;
    margin-right: 5px!important;
    margin-left: -9px;
    color: $gray7;
}
.material-ul li:before{
    content: "•";
    font-size: 0.6rem;
    padding-right: 5px;
    margin-left: -9px;
    color: $parang7;
}
.table-li ul li {
    margin-bottom:0!important;
}


.footnote-ol, .footnote-ul{
    padding-left: 1rem;
    margin: 0;
    counter-reset: list;
    font-family: 'Noto Sans Kr';
}
.footnote-ol li, .footnote-ul li{
    margin-bottom: 0.25rem;
    color: #656464;
    list-style: none;
    position: relative;
}
.footnote-ol li:before {
    counter-increment: list;
    content: counter(list, decimal) ") ";
    position: absolute;
    left: -0.9rem;
}
.footnote-ul li:before{
    content: "-";
    position: absolute;
    left: -0.75rem;
}




/* tooltip */
.tooltip, .tooltip-inner, .b-tooltip {
    font-size: 0.8rem;
    z-index: 100;
} 
.b-tooltip-blue > .tooltip-inner {
    background-color: $blue7;
} 
.b-tooltip-blue > .tooltip .bs-tooltip-auto[x-placement^=top] .arrow::before, .b-tooltip-blue.bs-tooltip-top .arrow::before {
    border-top-color: $blue7!important;
}
.b-tooltip-blue > .tooltip .bs-tooltip-auto[x-placement^=bottom] .arrow::before, .b-tooltip-blue.bs-tooltip-bottom .arrow::before {
    border-bottom-color: $blue7!important;
}


/*modal*/
.modal-content {
    border: 0;
    z-index: 200;
}
.modal-body, .modal-footer {
    font-family: 'Noto Sans KR';
    padding: 1rem 2rem;
    background-color: $gray2;
}  
.modal-header {
    font-family: 'Noto Sans KR';
    padding: 0.8rem 1.6rem;
    background-color: $gray6;
    color: $gray8;
    border: 0;
}  
.modal-title {
    font-size: 1.1rem;
    font-weight: 500;
}
.modal-table {
    overflow: auto;
}

/* modal 변형, 활용요소 */

#sitemap-modal > .modal-dialog{
    min-width: 80vw;

}
#sitemap-modal___BV_modal_body_.modal-body{
    padding: 0;
}
#sitemap-modal___BV_modal_footer_.modal-footer{
    display: none;
}

#finder-modal > .modal-dialog{
    min-width: 60vw;
}
#finder-modal___BV_modal_body_.modal-body{
    padding: 0;
}
@media (max-width: 768px) {
    #finder-modal > .modal-dialog{
        min-width: 90vw;
    }
    #finder-modal___BV_modal_body_.modal-body{
        padding: 0;
    }
}
@media (min-width: 768px) {
    #finder-modal > .modal-dialog{
        min-width: 80vw;
    }
    #finder-modal___BV_modal_body_.modal-body{
        padding: 0;
    }
}
@media (min-width: 992px) {
    #finder-modal > .modal-dialog{
        min-width: 70vw;
    }
    #finder-modal___BV_modal_body_.modal-body{
        padding: 0;
    }
}
@media (min-width: 1200px){
    #finder-modal > .modal-dialog{
        min-width: 60vw;
    }
    #finder-modal___BV_modal_body_.modal-body{
        padding: 0;
    }
}


.close-btn::before{
    content: "×";
}


  /*categories*/
  .edit-mode-category{
    margin-bottom: 0;
    cursor: pointer;
  }
  
  .edit-mode-category-selected{
    color: $dpink;
  
    border-bottom-style: solid;
    border-bottom-color: $dpink;
    border-bottom-width: 3px;
  }
  
  
  
  /*transition*/
  
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}






// intro 이미지 class
// intro 이미지 class
// intro 이미지 class
.bg-i-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    top:0;
}
.i1_bg {
    background-image: url( "/images/i1_bg.jpg" );
}
.i2_bg {
    background-image: url( "/images/i2_bg.png" );
}
.i3_bg {
    background-image: url( "/images/i3_bg.png" );
}
.carousel-height{
    height: 66vh;
}
.carousel-title {
    font-size: 1.6rem;
    line-height: 1.4;
}
@media (max-width: 768px) {
    .carousel-title {
        font-size: 1.3rem;
    }
}
@media (min-width: 768px) {
    .carousel-title {
        font-size: 1.5rem;
    }
}
@media (min-width: 992px) {
    .carousel-title {
        font-size: 1.55rem;
    }
}
@media (min-width: 1200px){
    .carousel-title {
        font-size: 1.6rem;
    }
}

@media (max-width: 840px) {
    .d-mds-block{
        display: none;
    }
}
@media (min-width: 840px) {
    .d-mds-block{
        display: block;
    }
}

// 첫번재 carousel
.tran-1-enter, .tran-1-leave-to {
    opacity: 0;
    // transform: translateX(40px);
}
.tran-2-enter, .tran-2-leave-to{
    opacity: 0;
    // transform: translateX(-15px);
}
.tran-3-enter, .tran-3-leave-to,
.tran-4-enter, .tran-4-leave-to {
    opacity: 0;
    // transform: translateX(-40px);
}

.tran-1-enter-active, .tran-1-leave-active {
    transition: all 0.8s ease-in 0.2s;
}
.tran-4-enter-active, .tran-4-leave-active {
    transition: all 0.6s ease 0.8s;
}
.tran-2-enter-active, .tran-2-leave-active {
    transition: all 0.8s ease 0.2s;
}
.tran-3-enter-active, .tran-3-leave-active {
    transition: all 0.6s ease 0.8s;
}

.tran-txt0-enter, .tran-txt0-leave-to{
    opacity: 0;
    transform: translateX(-20px);
}
.tran-txt1-enter, .tran-txt1-leave-to{
    opacity: 0;
    transform: translateX(20px);
}
.tran-txt0-enter-active, .tran-txt0-leave-active {
    transition: all 1s ease 1.5s;
}
.tran-txt1-enter-active, .tran-txt1-leave-active {
    transition: all 1.2s ease 1.9s;
}

// 두번째 carousel
.ran-1-enter, .ran-1-leave-to,
.ran-2-enter, .ran-2-leave-to,
.ran-3-enter, .ran-3-leave-to {
    opacity: 0;
}
.ran-1-enter-active, .ran-1-leave-active {
    transition: all 1s ease 0.4s;
}
.ran-2-enter-active, .ran-2-leave-active {
    transition: all 1.2s ease 0.4s;
}
.ran-3-enter-active, .ran-3-leave-active {
    transition: all 1.5s ease 0.7s;
}

.tran-txt2-enter, .tran-txt2-leave-to {
    opacity: 0;
    transform: translateX(-20px);
}
.tran-txt2-enter-active, .tran-txt2-leave-active {
    transition: all 1s ease 1.5s;
}
.tran-txt3-enter, .tran-txt3-leave-to {
    opacity: 0;
    transform: translateX(20px);
}
.tran-txt3-enter-active, .tran-txt3-leave-active {
    transition: all 1.2s ease 1.8s;
}

// 세번째 carousel
.an-1-enter, .an-1-leave-to,
.an-2-enter, .an-2-leave-to,
.an-5-enter, .an-5-leave-to {
    opacity: 0;
}
.an-3-enter, .an-3-leave-to {
    opacity: 0;
    transform: translateX(-15px);
}
.an-4-enter, .an-4-leave-to {
    opacity: 0;
    transform: translateY(15px);
}
.an-1-enter-active, .an-1-leave-active {
    transition: all 0.6s ease 0.3s;
}
.an-2-enter-active, .an-2-leave-active {
    transition: all 1s ease 0.5s;
}
.an-3-enter-active, .an-3-leave-active {
    transition: all 1.2s ease 0.8s;
}
.an-4-enter-active, .an-4-leave-active,
.an-5-enter-active, .an-5-leave-active {
    transition: all 1s ease 0.8s;
}


// intro 그래프 애니메이션
.graph-1-enter, .graph-1-leave-to,
.graph-2-enter, .graph-2-leave-to,
.graph-3-enter, .graph-3-leave-to {
    opacity: 0;
    transform: translateX(-100%);
}
.graph-1-enter-active, .graph-1-leave-active {
    transition: all 0.6s ease 0.2s;
}
.graph-2-enter-active, .graph-2-leave-active {
    transition: all 0.6s ease 0.4s;
}
.graph-3-enter-active, .graph-3-leave-active {
    transition: all 0.9s ease 0.7s;
}