
.side-nav {
    background-color: white;
    padding: 2em 1.4em;
}

.side-nav-link{
    margin-bottom: 0.7em;
}

.dma{
    background-color: var(--blue-gray1);
    padding: 1.8em 3.8em;
}


@media (max-width: 768px) {
    #modify-modal-top > .modal-dialog{
      position: absolute !important;
      margin: 0.5rem !important;
      top: 40px;
      pointer-events: none;
      right: 1rem !important;
      max-height: 90vh;
    }
  }
  
  @media (min-width: 768px) {
  
    #modify-modal > .modal-dialog{
        min-width: 500px;
        position: absolute !important;
        margin: 0.5rem !important;
        bottom: 10px !important;
        pointer-events: none;
        right: 10px !important;
    }
  
    #modify-wide-modal > .modal-dialog{
        min-width: 650px;
        position: absolute !important;
        margin: 0.5rem !important;
        bottom: 10px !important;
        pointer-events: none;
        right: 10px !important
    }
  
    #modify-modal-top > .modal-dialog{
      min-width: 45vw;
      position: absolute !important;
      margin: 0.5rem !important;
      top: 40px;
      pointer-events: none;
      right: 1rem !important;
      max-height: 90vh;
    }
  
  }
  
  @media (min-width: 992px) {
  
    #modify-modal > .modal-dialog{
        min-width: 600px;
        position: absolute !important;
        margin: 0.5rem !important;
        bottom: 10px !important;
        pointer-events: none;
        right: 10px !important;
    }
  
    #modify-wide-modal > .modal-dialog{
      min-width: 800px;
      position: absolute !important;
      margin: 0.5rem !important;
      bottom: 10px !important;
      pointer-events: none;
      right: 10px !important
    }
  
    #modify-modal-top > .modal-dialog{
      min-width: 42vw;
      position: absolute !important;
      margin: 0.5rem !important;
      top: 40px;
      pointer-events: none;
      right: 1rem !important;
    }
    
  }
  
  @media (min-width: 1200px) {
  
    #modify-modal > .modal-dialog{
        min-width: 800px;
        position: absolute !important;
        margin: 0.5rem !important;
        bottom: 10px !important;
        pointer-events: none;
        right: 10px !important;
    }
  
    #modify-wide-modal > .modal-dialog{
      min-width: 950px;
      position: absolute !important;
      margin: 0.5rem !important;
      bottom: 10px !important;
      pointer-events: none;
      right: 10px !important
    }
  
    #modify-modal-top > .modal-dialog{
      max-width: 38vw;
      position: absolute !important;
      margin: 0.5rem !important;
      top: 40px;
      pointer-events: none;
      right: 1rem !important;
    }
  
  }
  
  #modify-wide-modal___BV_modal_body_.modal-body{
    padding: 0;
  }
  
  #modify-wide-modal___BV_modal_content_.modal-content{
    background-color: transparent;
    border: none;
  }
  
  #modify-modal___BV_modal_backdrop_.modal-backdrop {
      opacity: 0.2!important;
  }
  
  #modify-wide-modal___BV_modal_backdrop_.modal-backdrop {
    opacity: 0.2!important;
  }
  
  /* padding extra */
  @media (max-width: 768px) {
    .px-6 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  @media (min-width: 768px)  {
    .px-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  @media (min-width: 992px) {
    .px-6 {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  @media (min-width: 1200px)  {
    .px-6 {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  
  
  /*categories*/
  .edit-mode-category{
    margin-bottom: 0;
    cursor: pointer;
  }
  
  .edit-mode-category-selected{
    color: var(--dpink);
  
    border-bottom-style: solid;
    border-bottom-color: var(--dpink);
    border-bottom-width: 3px;
  }
  
  /*matrix-list-items*/
  /* .matrix-list-item{
    border-style: solid;
    border-color: var(--gray-300);
    border-width: thin;
    border-radius: 0.2em;  
  
    background-color: var(--gray-100);
    cursor: pointer;
  }
  
  .matrix-list-item-header{
    background-color: var(--gray-300);
  }

  .performance-table{
    border: none;
  }
  
  .performance-table > td {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
  
  .performance-table > input {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
  
  .performance-table .form-control {
    height: 2.0em;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
  
  }
  
  .performance-table .form-control:focus {
  
    box-shadow:none;
    border-bottom-width: 0.1em;
    border-bottom-color: var(--gray-600)
    
  }
  
  .add-box{
    border-style: dashed;
    border-width: 0.1em;
    border-color: var(--gray-400);
    cursor: pointer;
  } */
  
  /*transition*/
  
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}
