$gray8: #211815;
$gray7: #141b21;
$gray67: #333333;
$gray65: #4b4f50;
$gray63: #4d4d4d;
$gray6: #5e6366;
$gray55: #656464;
$gray5: #838484;


$gray4: #c6c6c6;
$gray3: #dee1e1;
$gray2: #f5f5f5;
$gray1: #f9f9f9;
$blue-gray1: #f5f7f7;

$blue9: #313d72;
$blue8: #00539b;
$blue7: #1f4a8c;
$blue6: #29669e; 
$blue5: #1394d1;
$blue4: #499cd7;
$blue3: #00afe8;
$blue2: #6da9d8;
$blue15: #91c9e0;
$blue1: #e7f4fa;
$coway-blue: #2fa5dc;
// $blue-hue:#00a8e1;

$dpink: #FF1493;
$red: #FE4A49;
$red5: #FF8282;
$red6: #FE4A49;
$red7: #DC3433;

$green7: #0b564a;
$green6: #0f7a5a;
$green5: #92bc49;

$gold8: #685239;
$gold7: #99691d;
$gold6: #d6a803;
$gold5:#d38f02;

$parang8: #132e54;
$parang7: #5171b1;
$parang6: #6095dd;