$gray8: #211815;
$gray7: #141b21;
$gray6: #5e6466;
$gray5: #838484;

$gray4: #c6c6c6;
$gray3: #dfdfdf;
$gray2: #f5f5f5;
$gray1: #f9f9f9;
$blue-gray1: #f5f7f7;

$blue7: #1e4987;
$blue5: #419af9;
$blue4: #6da9d8;
$blue3: #80b1dd;
$coway-blue: #2fa5dc;

$dpink: #FF1493;