$gray8: #211815;
$gray7: #141b21;
$gray65: #4d4d4d;
$gray6: #5e6466;
$gray5: #838484;

$gray4: #c6c6c6;
$gray3: #dee1e1;
$gray2: #f5f5f5;
$gray1: #f9f9f9;
$blue-gray1: #f5f7f7;

$blue8: #00539b;
$blue7: #1f4a8c;
$blue6: #29669e;
$blue5: #419af9;
$blue4: #499cd7;
$blue3: #00afe8;
$blue2: #6da9d8;
$blue1: #80b1dd;
$coway-blue: #2fa5dc;
// $blue-hue:#00a8e1;

$dpink: #FF1493;
$red: #FE4A49;
$red5: #FF8282;
$red6: #FE4A49;
$red7: #DC3433;

$green7: #007457;
$green6: #2d9155;

$gold8: #685239;
$gold7: #99691d;
$gold6: #d6a803;