// Custom Bootstrap variable overrides go first
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1300px
);
$enable-rounded: false;


//기본 색깔 이름은 여기 건드리면 됨.
:root {
  //scm v1 컬러
      --blue: #3D5AFE;
      --blue1: #F3F5FF;
      --blue2: #EAEDFF;
      --blue3: #D3DAFF;
      --blue4: #ADB9FF;
      --blue5: #677EFF;
      --blue6: #3D5AFE;
      --blue7: #324ACD;
      --blue8: #2239B9;
      --red: #FE4A49;
      --red5: #FF8282;
      --red6: #FE4A49;
      --red7: #DC3433;
      --green: #28D592;
      --green5: #6CE6B7;
      --green6: #28D592;
      --green7:#20AE78;
      --gray-50: #FEFEFE;
      --gray-100: #F8F8F8;
      --gray-200:#EFEFEF;
      --gray-300:#dedede;
      --gray-400:#C8C8C8;
      --gray-500:#A2A2A2;
      --gray-600:#6c6c6c;
      --gray-700:#494949;
      --gray-800:#343434;
      --gray-900:#202020;
}


/////////////////////////////////Custom SCSS


// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// And define any of your custom or additional CSS/SCSS here,
// or via an @import