@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@kfonts/nanum-square-otf@0.0.3/index.css');

html {
    font-size: 14px;
}
@media (max-width: 500px) {
    html {
        font-size: 12px;
    }
}

#app {
  font-family: 'Noto Sans KR', 'AppleGothic', 'NanumSquare', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--gray-700);
}

body, button {
    font-family: 'Noto Sans KR';
    word-break: keep-all;
    line-height: 1.6;
}

.header-logo{
    max-width: 150px;
    min-width: 120px;
}


/*font-size*/

.f-180{
    font-size: 1.8rem;
}
.f-160{
    font-size: 1.6rem;
}
.f-140{
    font-size: 1.4rem;
}
.f-120{
    font-size: 1.2rem;
}
.f-110{
    font-size: 1.1rem;
}
.f-100{
    font-size: 1.0rem;
}
.f-90{
    font-size: 0.9rem;
}
.f-85{
    font-size: 0.85rem;
}
.f-80{
    font-size: 0.8rem;
}
.f-75{
    font-size: 0.75rem;
}
.f-70{
    font-size: 0.7rem;
}
.f-60{
    font-size: 0.6rem;
}

/*font-weight*/

.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}

/*text colors*/

.blue{
    color: var(--blue);
}
.blue4{
    color: var(--blue4);
}
.blue5{
    color: var(--blue5);
}
.blue7{
    color: var(--blue7);
}
.blue8{
    color: var(--blue8);
}

.red{
    color: var(--red);
}
.red5{
    color: var(--red5);
}
.red7{
    color: var(--red7);
}

.green{
    color: var(--green);
}
.green5{
    color: var(--green5);
}
.green7{
    color: var(--green7);
}

.gray-50{
    color: var(--gray-50);
}
.gray-100{
    color: var(--gray-100);
}
.gray-200{
    color: var(--gray-200);
}
.gray-300{
    color: var(--gray-300);
}
.gray-400{
    color: var(--gray-400);
}
.gray-500{
    color: var(--gray-500);
}
.gray-600{
    color: var(--gray-600);
}
.gray-700{
    color: var(--gray-700);
}
.gray-800{
    color: var(--gray-800);
}
.gray-900{
    color: var(--gray-900);
}


/* background-color */

.bg-blue{
    background-color: var(--blue);
}
.bg-blue1{
    background-color: var(--blue1);
}
.bg-blue2{
    background-color: var(--blue2);
}
.bg-blue3{
    background-color: var(--blue3);
}
.bg-blue4{
    background-color: var(--blue4);
}
.bg-blue5{
    background-color: var(--blue5);
}
.bg-blue7{
    background-color: var(--blue7);
}
.bg-blue8{
    background-color: var(--blue8);
}

.bg-red{
    background-color: var(--red);
}
.bg-red5{
    background-color: var(--red5);
}
.bg-red7{
    background-color: var(--red7);
}

.bg-green{
    background-color: var(--green);
}
.bg-green5{
    background-color: var(--green5);
}
.bg-green7{
    background-color: var(--green7);
}

.bgray-50{
    background-color: var(--gray-50);
}
.bgray-100{
    background-color: var(--gray-100);
}
.bgray-200{
    background-color: var(--gray-200);
}
.bgray-300{
    background-color: var(--gray-300);
}
.bgray-400{
    background-color: var(--gray-400);
}
.bgray-500{
    background-color: var(--gray-500);
}
.bgray-600{
    background-color: var(--gray-600);
}
.bgray-700{
    background-color: var(--gray-700);
}
.bgray-800{
    background-color: var(--gray-800);
}
.bgray-900{
    background-color: var(--gray-900);
}

.bg-transparent-dark {
    background-color: rgba(0,0,0,0.3);
}
.bg-transparent-light {
    background-color: rgba(255,255,255,0.3);
}

/* table */
table {
    word-break: keep-all;
    color: var(--gray-700);
}
.table {
    color: var(--gray-700);
}
.table td, td {
    padding: 0.2rem 0.7rem;
    vertical-align: middle;
    text-align: center;
}

/* basic buttons */

.btn-light{
    background-color: var(--gray-50);
    color: var(--gray-700);
}
.btn-light:hover{
    background-color: white;
    color: var(--blue7);
    border: 1px solid var(--blue);
}
.btn-light:focus{
    background-color: var(--gray-50);
    color: var(--gray-700);
}

.btn-dark {
    background-color: var(--gray-700);
    color: var(--gray-300);
    border: 1px solid var(--gray-300);
}
.btn-dark:hover, .btn-dark:focus{
    background-color: var(--gray-600);
    color: var(--gray-100);
    border: 1px solid var(--gray-100);
}

.btn-dark7{
    background-color: var(--gray-800);
    color: var(--gray-300);
    border: 1px solid var(--gray-300);
}
.btn-dark7:hover, .btn-dark7:focus{
    background-color: var(--gray-600);
    color: var(--gray-100);
}

.btn-dark5{
    background-color: var(--gray-600);
    color: var(--gray-200);
    border: 1px solid var(--gray-200);
}
.btn-dark5:hover, .btn-dark7:focus{
    background-color: var(--gray-500);
    color: var(--gray-50);
} 

.btn-blue {
    background-color: var(--blue);
    color: white;
}
.btn-blue:hover {
    background-color:  var(--blue5);
    color: white;
}
.btn-blue-border {
    background-color: var(--gray-50);
    color: var(--blue);
    border: 1px solid var(--blue);
}
.btn-blue-border:hover, .btn-blue-border:focus {
    background-color:  var(--blue);
    color: white;
}  
.btn-red {
    background-color: var(--red);
    color: white;
}
.btn-red:hover {
    background-color:  var(--red5);
    color: white;
}

.btn-icon {
    background-color: rgba(0,0,0,0);
    color: var(--gray-500);
}
.btn-icon:hover {
    background-color: rgba(0,0,0,0);
    color: var(--blue);
}

.btn-icon-gray {
    background-color: rgba(0,0,0,0);
    color: var(--gray-400);
}
.btn-icon-gray:hover, .btn-icon-gray:focus {
    background-color: rgba(0,0,0,0);
    color: var(--gray-100);
}

.btn-icon-append {
    padding: 0 0.3rem;
    background-color: white;
    color: var(--gray-300);
    border-left: 0;
    border-color: #ced4da;
}
.btn-icon-append:hover, .btn-icon-append:focus {
    color: var(--blue5);
}

.btn-dark-border {
    background-color: rgba(0,0,0,0);
    color: var(--gray-700);
    border: 1px solid var(--gray-700);
}
.btn-dark-border:hover {
    background-color: var(--gray-700);
    color: var(--gray-200);
    border-color: var(--gray-700);
}
.btn-light-border {
    background-color: rgba(0,0,0,0);
    color: var(--gray-100);
    border: 1px solid var(--gray-100);
}
.btn-light-border:hover {
    background-color: rgba(255,255,255,0.3);
    color: var(--gray-100);
}
.btn-red-border {
    background-color: rgba(0,0,0,0);
    color: var(--red);
    border: 1px solid var(--red);
}
.btn-red-border:hover {
    background-color: var(--red5);
    color: var(--gray-50);
    border: 1px solid var(--red5);
}

.btn-toggle-section {
    background-color: var(--gray-200);
    border:0;
    border-top: 1px solid var(--gray-600);
    border-bottom: 1px solid var(--gray-600);
    color: var(--gray-700);
    font-weight: 500;
}

.badge-btn {
    padding: 0.25em 0.4em;
    font-size: 85%;
    font-weight: 400;
    color: white;
    background-color: var(--gray-500);
}
.badge-btn:hover {
    cursor: pointer;
    background-color: var(--gray-600);
}

.badge-blue {
    padding: 0.25em 0.4em;
    font-size: 85%;
    font-weight: 400;
    color: white;
    background-color: var(--blue);
} 
/* notice 및 direct message new 표시 뱃지용 */
.new {
    background-color: var(--blue);
    font-size:0.7rem;
    font-weight: 400;
    padding: 0.25rem 0.3rem;
}

/* 기존 bootstrap 버튼 variant 덮어쓰기 */
.btn-primary {
    background-color: var(--blue)!important;
    font-size: 0.85rem;
    border: 0;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: var(--blue5)!important;
    border: 0;
}
.btn-secondary {
    background-color: var(--gray-600)!important;
    font-size: 0.85rem;
    border: 0;
}
.btn-secondary:hover, .btn-secondary:focus {
    background-color: var(--gray-500)!important;
    border: 0;
}

/* button shape */

.btn-round-2 {
    width: 32px;
    height: 32px;
    border-radius: 0.5em;
    font-size: 1em;
    padding: 0.1em 0.4em;
}
.btn-round-4 {
    height: 32px;
    border-radius: 0.5em;
}

.circle{
    border-radius: 2em;
}
.round{
    border-radius: 0.5em;
}
.pl-45 {
    padding-left: 2.5rem;
}

/* shadow */

.sm-shadow {
    box-shadow: 1px 1.5px 2px 2px rgba(221,221,221,0.25);
}
.lg-shadow {
    box-shadow: 1px 3px 6px 4px rgba(221,221,221,0.25);
}

/* border */

.border-top-bottom-bold {
    border-top: 2px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}
.border-top-bold {
    border-top: 2px solid #dee2e6;
}
.border-bottom-bold {
    border-bottom: 2px solid #dee2e6;
}
.border-blue {
    border: 1px solid var(--blue);
}
.border-left-gray {
    border-left: 4px solid var(--gray-600);
}
.border-dotted {
    border-style: dashed;
    border-color: var(--gray-400);
    border-width: 1px;
}

/* dropdown */

.show > .btn-light.dropdown-toggle {
    background-color: var(--gray-300);
    color: var(--gray-600);
    border: 1px solid var(--gray-300);
}
.dropdown-item{
    color: var(--gray-700)
}
.dropdown-item:hover {
    background-color: var(--gray-200);
    color: var(--gray-900);
}
.hj-search-result {
    color: var(--gray-600);
    text-align: left;
}

.hj-search-result:hover {
    color: var(--blue);
}


/*card*/
.card-body, .card-text, .card-title, .card-subtitle {
    padding: 0.6rem 1.25rem;
}


/* tooltip */
.tooltip, .tooltip-inner, .b-tooltip {
    font-size: 0.8rem;
    z-index: 100;
} 
.b-tooltip-blue > .tooltip-inner {
    background-color: var(--blue);
} 
.b-tooltip-blue > .tooltip .bs-tooltip-auto[x-placement^=top] .arrow::before, .b-tooltip-blue.bs-tooltip-top .arrow::before {
    border-top-color: var(--blue)!important;
}
.b-tooltip-blue > .tooltip .bs-tooltip-auto[x-placement^=bottom] .arrow::before, .b-tooltip-blue.bs-tooltip-bottom .arrow::before {
    border-bottom-color: var(--blue)!important;
}


/*modal*/
.modal-content {
    border: 0;
    z-index: 200;
}
.modal-body, .modal-footer {
    font-family: 'Noto Sans KR';
    padding: 1rem 2rem;
    background-color: var(--gray-100);
}  
.modal-header {
    font-family: 'Noto Sans KR';
    padding: 0.8rem 1.6rem;
    background-color: var(--gray-800);
    color: var(--gray-100);
    border: 0;
}  
.modal-title {
    font-size: 1.1rem;
    font-weight: 500;
}
.modal-table {
    overflow-x: scroll;
}

/* modal 변형, 활용요소 */
button.close {
    color: var(--gray-300);
}
button.close:hover {
    color: white;
}
.close {
    padding: 0.7rem 1rem!important;
    font-size: 1.7rem!important;
    font-weight: 500 !important;
    text-shadow: 0 0 0 #fff !important;
    opacity: 1 !important;
    align-self: center !important;
}
/* div.modal-content > header#my-direct-message___BV_modal_header_ , div.modal-content > header#my-sent-direct-message___BV_modal_header_{
    background-color: rgba(0,0,0,0);
    height:25px;
}
div.modal-content > header#my-direct-message___BV_modal_header_ > button,
div.modal-content > header#my-sent-direct-message___BV_modal_header_ > button {
    margin-top: 0.3rem!important;
}

div.modal-body > div.message-modal-body  {
    padding: 0 1.2rem;
} */
  

/*toast*/

.toast-header {
    height: 30px;
    background-color: var(--gray-50);
    color: var(-green);
}
.toast-body {
    color: var(--green);
}


/* box */
.box-sm-shadow {
    line-height: 1.3rem;
    background-color: var(--gray-50);
    box-shadow: 1px 2px 1px 1px rgba(221,221,221,0.25);
    border-radius: .25rem;
    color: var(--gray-700);
    padding: 0.5rem 0.7rem;
  }

/* search-result */

#company-search-list {
    /*box-shadow: 1px 2px 3px 2px rgba(221,221,221,0.9);*/
    border-radius: 0.25rem;
  }
  
  #company-search-list > div.search-result {
    border-color: rgba(0,0,0,0.08);
  }
  #company-search-list > div.search-result:hover {
    background-color: var(--gray-200);
  }


.tree-node-inner-back {
    margin:0!important;
}

/*validation*/

.ih-validation-saved {
    color: var(--green);
    font-size: 0.9rem;
}

.ih-validation-saving {
    color: var(--red);
    font-size: 0.9rem;
}

.ih-validation-resaved {
    color: var(--green);
    font-size: 0.9rem;
}